<div class=" create-form">
    <h5 class="title_create">Điền thông tin về sách cần bán</h5>

    <form class="addBook" method="post" action="/books/store">
        <div class="mb-3">
            <label for="name" class="form-label">Tên sách</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Tác giả</label>
            <input type="text" class="form-control" id="author" name="author">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Mô tả về sách</label>
            <textarea type="text" class="form-control" id="description" name="description"> </textarea>
        </div>
        <div class="mb-3">
            <label for="img" class="form-label">Link ảnh</label>
            <input type="text" class="form-control" id="img" name="img">
        </div>
        <div class="mb-3">
            <label for="rate" class="form-label">Đánh giá theo thang 10</label>
            <input type="text" class="form-control" id="rate" name="rate">
        </div>
        <div class="mb-3">
            
            <label for="rate" class="form-label">Giá</label>
            <input type="Number" class="form-control" value="{{book.price}}" id="price" name="price">
        </div>


        <button type="submit" class="btn-submit-create btn btn-primary">Thêm sách lên cửa hàng</button>
    </form>
</div>